<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Discord</title>
    <link rel="stylesheet" href="/styles/style.css"> <!-- Link to external CSS file -->
</head>
<body >
    <div class="container">
        <h1>Login with Discord</h1>
        <a href="/auth/discord" class="discord-button">
            <img src="/images/icon.jpg" alt="Discord Icon" class="discord-icon">
            Login with Discord
        </a>
    </div>
    
</body>
</html>
